@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,600;0,700;1,100&display=swap');




*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
body{
    font-family: 'Poppins', sans-serif;
    
}
:root{
   --verde-escuro:#14424b;
   --verde:#2f9364;
   --orange:#ff7c37;
   --degrade-btn: linear-gradient(#fe9611, #ff5c00);
   --color-p:#a1a1a1;
   --color-p-2:#868585;
}

.background-verde{
    background: var(--verde-escuro);
}

/* nav */

/* Mantenha o seu CSS existente */

header {
    background-color: var(--verde-escuro);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    padding: 5px 0;
  }
  
  header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  /* Estilo para a logo */
  header .logo a {
    font-size: 30px;
    font-weight: bold;
    color: white;
  }
  
  /* Estilo para os itens do menu */
  header nav ul {
    display: flex;
    align-items: center;
    list-style: none;
    
  }
  
  header nav ul li {
    margin-right: 20px; /* Espaçamento entre os itens do menu */
    font-size:20px;
  }
  
  header nav ul li:last-child {
    margin-right: 0; /* Remova a margem direita do último item do menu */
  }
  
  header nav ul li a {
    color: white;
    text-decoration: none;
  }
  
  /* Alinhe os itens do menu à direita */
  header nav ul {
    margin-left: auto;
    margin-left:200px;
  }
  
  /* Adicione esta regra para ajustar o alinhamento da logo */
  header .logo {
    margin-right: auto;
  }
  
  
  
  
  
/* Classes Reutilizaveis */

.container{
    max-width: 1440px;
    padding: 0 5%;
    margin:0 auto;
}

.btn-gradiente{
    padding: 10px 25px;
    color: white;
    border: none;
    cursor: pointer;
    background: var(--degrade-btn);
    
}

/* Classe Site*/

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.logo a{
    font-size: 30px;
    font-weight: bold;
    color: white;
}

.ul{
    display: flex;
    align-items: center;
}

.ul li{
    margin: 0 10px;
    font-size: 15px;
}

.ul li a{
    color: white;
}
/* Main */

main .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
}

.main-text{
    width:50%;
    color: white;
}

.main-text h1{
    font-size: 4.5rem;
}

.main-text div{
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.main-img{
    width: 50%;

}

.main-img img{
    width: 100%;
}


#texto-autodigitando{
    width:50%;
    height: 50px;
    color: orangered;
    font-weight: bold;
    font-size: 3.0rem;
}



#texto-autodigitando{
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.textojoao{
    width:50%;
    color: white;
    font-size: 3.0rem;
    display: flex;
    align-items: center;
    margin-top: 20px;
}

/* Menu Icon */

.menu-icon{
    display: none;
    position: relative;
    z-index: 10;
}

header{
    height: 100px;
}

/* Section Diferenciais */
.diferenciais .container{
    display: flex;
    justify-content: space-between;
    margin: 30px auto;
}

.diferenciais .card{
    width: 25%;
    height: 250px;
    cursor: pointer;
    padding: 30px;
    margin-left:20px;
    margin-right: 20px;
    border-radius: 15px;
    transition: 0.3s;
    border:5px solid transparent;
    background: #fff;
}

.diferenciais .card:hover{
   border:5px solid #ff7c37;
}

.diferenciais .card img{
    width: 60px;
}

.diferenciais .card .titulo{
    margin: 13px 0;
    font-weight: 600;
}

/* Section João */
 .sobre-mim .container{
    display: flex;
    align-items: center;
 }

 .sobre-mim .joao-img{
    width: 50%;
    
 }

 .sobre-mim .joao-img img{
    width: 100%;
    border:10px;
 }

 .sobre-mim .joao-text{
    width: 50%;
    padding-left: 90px;
 }

 .sobre-mim .joao-text h2{
    font-size: 2.5em;
    color: #ffffff; 
 }

 .sobre-mim .joao-text p{
    margin: 20px 0px;
    color: #ffffff;
    font-size:20px;
 }

 .sobre-mim .joao-text p b{
    color: white;
    font-size: 25px;

 }

 .nossosprojetos h4{
    font-size: 3.5em !important;
    text-align: center !important;
 }


/* Fecha Section João*/

/* formulario */

/* Adicione essas regras de estilo para centralizar o formulário na seção de contato */
/* Mantenha as regras de estilo existentes */
/* ... */

/* Adicione estas regras de estilo para centralizar verticalmente o formulário na seção de contato */
/* Mantenha as regras de estilo existentes */
/* ... */

/* Adicione estas regras de estilo para centralizar verticalmente o formulário e torná-lo duas vezes maior na seção de contato */
#contato {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container form {
  width: 200%; /* Torna o formulário duas vezes mais largo */
  width: 600px; /* Define o máximo para manter a legibilidade */
  height: 200%; /* Torna o formulário duas vezes mais alto */
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  margin: 0 auto; /* Centralize horizontalmente */
}


h1 {
    text-align: center;
    color: #fff;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centralize horizontalmente */
}

.form-control {
    margin-bottom: 15px;
    text-align: left; /* Alinhe o texto do rótulo à esquerda */
    width: 100%; /* Faça os campos ocuparem 100% da largura */
}

label {
    font-weight: bold;
    margin-bottom: 5px;
    color: #555;
    width: 100%; /* Faça os rótulos ocuparem 100% da largura */
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
    width: 100%; /* Faça os campos ocuparem 100% da largura */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

button {
    background-color:#fe9611;
    color: #fff;
    border: none;
    padding: 12px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    font-size: 18px;
    transition: background-color 0.3s ease-in-out;
}

button:hover {
    background-color:#ff7c37;
}



/* fecha formulario */

.footer{
    background: var(--verde-escuro);
    text-align: center;
}

.footer i{
    color: #14424b;
    font-size: 19px;
    background-color: white;
    padding: 10px;
    margin: 3px;
    border-radius: 10px;
}

.footer p{
    margin-top: 10px;
    color: white;
}

 .redes-sociais{
    margin-right: 100px;
}
footer .container .redes-sociais img{
    margin-right:10px;
}

footer .container ul > p{
    margin-bottom: 40px;
}

footer .container li{
    margin: 10px 0;
}

footer .container a{
    color: white;
}

footer .container .links{
    padding-top:30px;
}


/* fecha formulario */


/* CSS para remover espaço em branco no carrossel */
.slick-slider {
    margin: 0; /* Remove margem externa */
    padding: 0; /* Remove padding */
  }
  
  .slick-list {
    margin: 0; /* Remove margem interna */
    padding: 0; /* Remove padding interno */
  }
  
  .slick-slide {
    margin: 0; /* Remove margem interna nos slides */
    padding: 0; /* Remove padding interno nos slides */
    height: auto; /* Define altura automática para acomodar o conteúdo */
  }
  
  /* Certifique-se de que as imagens estejam redimensionadas corretamente */
  .slick-slide img {
    width: 100%; /* Redimensiona as imagens para ocupar a largura do slide */
  }


  /* skils */
 
  .skill {
    width: 80%;
    max-width: 600px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.skill-name {
    font-weight: bold;
    margin-bottom: 10px;
}

.progress {
    background-color: #f5f5f5;
    border-radius: 5px;
    height: 20px;
    position: relative;
    overflow: hidden; /* Para esconder a parte não preenchida da barra */
}

.progress-bar {
    background-color:#ff7c37;
    border-radius: 5px;
    height: 100%;
    width: 0;
    position: absolute;
    transition: width 2s ease-in-out;
}

  

  /* fecha skils */
  



/* Responsivo */
@media(max-width: 960px){
    .menu-icon{
        display: block;
    }

     .menu-icon {
    display: block; /* Certifique-se de que o ícone do menu esteja visível */
    position: absolute;
    top: 10;
    right: 10; /* Posicione o ícone à direita */
  }
     .ul{
        position: fixed;
        background: var(--verde-escuro);
        top: 0;
        width: 100%;
        height: 100%;
        left: 100%;
        transition: 0.3s;
        flex-direction: column;
        justify-content: center;
     }

     .ul li{
        font-size: 20px;
        margin: 10px;
     }

     .ul.ativo{
        left: 0;
     }

     main .container{
        flex-direction: column;
     }

     main .container .main-img{
        width: 100%;
     }

     main .container .main-text{
        width: 100%;
        text-align: center;
     }

     main .container .main-text h1{
        font-size: 3.5rem;
      }
     main .container .main-text div{
       justify-content: center;
     }

     .textojoao{
        width:100%;
        font-weight: bold;
       
    }

    #texto-autodigitando{
        width: 100%;
        font-weight: bold;
    }

    .btn-gradiente{
        padding: 10px 40px;
        font-size: 20px;
        font-weight: bold;
    }

    .diferenciais .container{
        flex-direction: column;
    }

     .portf{
        font-size: 3.5rem;
        text-align: center;
    }

    .diferenciais .card{
        width: 100%;
    }

    .sobre-mim .container{
        flex-direction: column-reverse;
    }
    .sobre-mim .joao-text,
    .sobre-mim .joao-img{
        width: 100%;
        text-align: center;
        padding: 0px;
    }

    .container form{
        width: 100%;
        float: none;
    }

    .container .formulario-img{
        width: 100%;
        float: none;
        transform: scale(0.6);
        margin-left:-150px;
        margin-top:-100px;
    }


    .slick-slide {
        height: auto; /* Define altura automática para acomodar o conteúdo */
      }
      
      /* Ajusta margens e paddings para eliminar espaço em branco */
      .slick-slider {
        margin: 0; /* Remove margem externa */
        padding: 0; /* Remove padding */
      }
    
      .slick-list {
        margin: 0; /* Remove margem interna */
        padding: 0; /* Remove padding interno */
      }
    
      .slick-slide {
        margin: 0; /* Remove margem interna nos slides */
        padding: 0; /* Remove padding interno nos slides */
      }
    
      /* Certifique-se de que as imagens estejam redimensionadas corretamente */
      .slick-slide img {
        width: 100%; /* Redimensiona as imagens para ocupar a largura do slide */
      }

      .footer {
        text-align: center; /* Centralize o conteúdo do footer */
        padding: 20px 0; /* Adicione algum espaço acima e abaixo do footer */
      }
    
      .footer i {
        font-size: 24px; /* Ajuste o tamanho dos ícones de mídia social */
        padding: 10px;
        margin: 3px;
        border-radius: 10px;
      }
    
      .footer p {
        margin-top: 10px;
      }
    
      .redes-sociais {
        margin-right: 0; /* Remova a margem direita para alinhar corretamente os ícones de mídia social */
      }
    
      footer .container .redes-sociais img {
        margin-right: 10px;
      }
    
      footer .container ul > p {
        margin-bottom: 20px; /* Reduza a margem inferior do parágrafo */
      }
    
      footer .container li {
        margin: 10px 0;
      }
    
      footer .container a {
        color: white;
      }
    
      footer .container .links {
        padding-top: 0; /* Reduza o espaço superior para alinhar corretamente os ícones de mídia social */
      }

      .container form{
        margin-left:0px;
      }

      header nav ul {
        margin-left: auto;
        margin-left:0px;
      }

}




